.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0; /* Adjust the value as needed */
}
.container .content {
    display: none;
    padding : 5px;

.container h1 {
    margin-bottom: 0; /* Adjust the value as needed */
}

.container h2 {
    margin-bottom: 0; /* For h2 headers, adjust accordingly */
}
